-# (commented out) .tile.event-details.u-margin-top-lg
  .tile-content.full-width.flex-container.flex-column.justify-center.align-center
    = image_tag "/images/events/event-date-icon.svg", class: "tile-icon-medium", alt: "GitLab Contribute date icon svg"
    %h4 Sept 17, 2021
  .tile-content.full-width.flex-container.flex-column.justify-center.align-center
    = image_tag "/images/events/event-location-icon.svg", class: "tile-icon-medium", alt: "#GitLab Contribute location icon svg"
    %h4 Location TBD



.row.u-margin-top-md.video-gitlab-explained-container
  .col-md-4.text-center
    .video-thumb-container{ "data-videourl": "https://www.youtube.com/embed/V2Z1h_2gLNU?autoplay=1&rel=0" }
      .video-thumb
      .video-play-container
        = partial "/includes/simplify-devops/thumbnail-video-play-white", locals: { caption: "GitLab Contribute" }

  .col-md-8.text-left
    %p.video-intro-copy Contribute is our annual GitLab team event where we get together to interact with one another and cultivate our community. Since our team members are located all over the globe, we try to plan a different location each year. Contribute is an optional event, so team members should not feel pressured to attend. Contribute enables team members to attend in person and virtually to watch and participate from anywhere. Please see the official event landing page <a href="https://contribute2022.com">HERE.</a>
-# (commented out) %script{ src: "/javascripts/countdown.js", type: "text/javascript" }
